# Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
poetry.lock
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Frontend
frontend/.dart_tool/
frontend/.idea/
frontend/.vscode/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub/
frontend/build/
frontend/android/app/build/
frontend/ios/.generated/
frontend/ios/Pods/
frontend/ios/Flutter/Flutter.podspec
frontend/ios/Flutter/Generated.xcconfig
frontend/ios/Flutter/flutter_export_environment.sh
frontend/ios/Runner.xcworkspace/
frontend/ios/Flutter/App.framework/
frontend/macos/Pods/
frontend/windows/Flutter/
frontend/linux/flutter/
frontend/*.iml
frontend/*.log
frontend/*.lock
frontend/*.swp
frontend/.DS_Store
frontend/coverage/

# Environment files
*.env
*.env.*
!*.env.example