# Backend (these won't affect frontend - you can keep them or remove)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
poetry.lock
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Frontend
.dart_tool/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
android/app/build/
ios/.generated/
ios/Pods/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/Flutter/App.framework/
macos/Pods/
windows/Flutter/
linux/flutter/
*.iml
*.log
*.lock
*.swp
.DS_Store
coverage/

# Environment files
*.env
*.env.*
!*.env.example